.terrainCard {
    margin: 10px 5px!important;
    min-height: 300px;
    cursor: pointer
}

.selected {
    background-color: #1678c2 !important;
    color: #fff !important;
}

.selected span, .selected h5 {
    color: #fff !important;
}

.addressTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}