body{
    font-size: 16px;
}

.terrain{
    position: relative;
}

.terrain .area, .terrain .price {
    position: absolute;
}

.terrain .price {
    top: 10px;
    right: 10px;
    color: #669933;
}

.terrain .area {
    bottom: 10px;
    right: 10px;
}

.terrain-list > .terrain.item.selected,
.ui.selection.list.list > .item.selected:hover, 
.ui.selection.list > .item.selected:hover {
    background: #5e2129;
    color: #fff;
    /*url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"*/
}


.terrain.item.selected:hover {
    background: #5e2129;
}

.terrain.item.selected a.header,
.terrain-list > .terrain.item.selected a.header:hover, 
.terrain-list > .terrain.item.selected a.header:hover,
.terrain.item.selected .price {
    color: #ecbcb4 !important;
}

.terrain.item.selected .description{
    color: #f5f5dc !important;
}

.terrain.item.selected .address{
    color: skyblue !important;
}

.ui.list .list > .item a.header:hover, 
.ui.list > .item a.header:hover {
	color: #1e70bf !important;
}